{% extends 'base.html.twig' %}

{% block title %}Details Bird{% endblock %}

{% block body %}

<h1>{{ name|upper }}</h1>

<div style="width: 150px; height: 150px; border: solid">
    <div class="container">
            <img src={{ asset('images/' ~ image) }} alt={{ name }} style="width:100%">
    </div>
</div>

Details : {{ description }}

<hr>
<a href="{{ path('home') }}">Retour à la liste</a>
{% endblock %}
