{% extends 'base.html.twig' %}

{% block title %}Angry Birds{% endblock %}

{% block body %}
    <h1>A Field Guide to Angry birds</h1>

    <h3>Games that lodge in the brain often have comical stars </h3>

    <p>Last bird seen: {{ lastBird }}</p>

    <p><a href="{{ path('pdf_download') }}">Download PDF 2015 calendar</a></p>


    {% for bird in names %}
    <div class="{{ cycle(['green','blue'],loop.index) }}  card">
        <img src={{ asset('images/' ~ bird.image) }} alt={{ bird.name }} >
        <div class="container">
            <a href="{{ path('birdDetails', {'id': (loop.index) -1}) }}">{{ bird.name }}</a>
        </div>
    </div>
    {% endfor %}

{% endblock %}
